.contact-section {
	background-color: #2A79B4;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin-top: 7px;
  	padding-top: 10px;
	h3 {
		color: white;
		padding-top: 25px;
		padding-bottom: 20px;
	}
	p {
		letter-spacing: 0.5px;
	}
	a {
		color: white;
		text-decoration: none;
	}
	hr {
		margin-top: 10px;
		border: 1px solid white;
		width: 40px;
		margin-bottom: 25px;
	}
	i {
		padding-right: 10px;
	}
}
.contact-para {
	width: 604px;
}
.phone-number {
	margin-top: 12px;
}
.contact-details {
	display: flex;
	justify-content: space-around;
}
.enquiries {
	padding: 35px;
	width: 300px;
	padding-top: 0;
}
.enquiries a:hover {
	color: #4D4D4D;
	text-decoration: none;
}
.linked-in {
	margin-left: 2px;
    margin-top: 14px;
}
.linked-in-small {
	display: none;
	margin-left: 14px;
}

@media only screen and (max-width: 679px) {
	.contact-para {
		width: auto;
	}
	.contact-details {
		flex-direction: column;
	}
	.why-enganche {
		margin-left: 30px;
	}
	
}


















