.contact-section {
	background-color: #2D6AA3;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin-top: 7px;
  padding-top: 10px;
  padding-bottom: 30px;
	h3 {
		color: white;
		font-size: 24px;
		padding-top: 25px;
    	padding-bottom: 20px;
	}
	h4 {
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
	a {
		color: white;
		text-decoration: none;
	}
	hr {
	    border-bottom: solid #2D6AA3 2px;
	    width: 20px;
	}
	i {
		padding-right: 10px;
	}
}
.contact-para {
	width: 600px;
}
.phone-number {
	margin-top: 12px;
}
.contact-details {
	display: flex;
	justify-content: space-around;
}
.enquiries {
	padding: 35px;
	width: 300px;
	padding-top: 0;
}
.enquiries a:hover {
	color: #4D4D4D;
	text-decoration: none;
}

@media only screen and (max-width: 679px) {
	.contact-para {
		width: auto;
		padding-right: 40px;
		padding-left: 40px;
	}
	.contact-details {
		flex-direction: column;
	}
	.enquiries {
		padding-bottom: 0;
	}
}


















