.contact-section {
	background-color: #2D6AA3;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	a {
		color: white;
	}
}
.contact-para {
	width: 600px;
}
.contact-details {
	display: flex;
	padding-top: 20px;
	justify-content: space-around;
}