.contact-section {
	background-color: #2D6AA3;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin-top: 7px;
	h3 {
		color: white;
		font-size: 24px;
		padding-top: 25px;
    	padding-bottom: 20px;
	}
	h4 {
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
	a {
		color: white;
	}
	hr {
	    border-bottom: solid #37699D 2px;
	    width: 20px;
	}
}
.contact-para {
	width: 600px;
}
.contact-details {
	display: flex;
	justify-content: space-around;
}
.enquiries {
	padding: 20px;
	width: 300px;
	padding-top: 0;
}
.enquiries:hover {
	color: #4D4D4D;
	a {
		color: #4D4D4D; 
		text-decoration: none;
	}
}