html{overflow-y:scroll}
.image-interval {
  height: 167px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: left;
}
.wrapper-grey {
  background-color: white;
}
.section-padding {
  padding: 30px 100px;
  h3 {
    padding-bottom: 10px;
    color: #4D4D4D;
    text-align: center;
  }
}
.quote-section {
  display: flex;
  justify-content: center;
  background-color: #316BA1;
}
.quote {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 520px;
  padding: 60px 0;
  position: relative;
  h3 {
    i {
      color: white;
      padding-top: 25px;
      padding-bottom: 20px;
    }
  }
  i {
    color: white;
  }
}
.blue {
  border-top: 7px solid #1A476F;
  margin: 0;
}
.dark-blue {
  border-top: 7px solid #272C39;
  margin: 0;
}
@media only screen and (max-width: 1007px) {
  .section-padding {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 660px) {
  .homepage-btns {
    display: none;
  }
}




