.image-interval {
  height: 167px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: left;
}
.wrapper-grey {
  background-color: white;
}
.section-padding {
  padding: 70px 100px;
  h3 {
    padding-bottom: 10px;
    color: #4D4D4D;
    text-align: center;
    font-size: 24px;
  }
}
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h4 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    margin-top: 85px;
  }
  span {
    color: white;
    font-weight: bold;
    font-size: 60px;
  }
  strong {
    color: white;
    font-weight: bold;
    font-size: 110px;
    line-height: 103px;
  }
}
.quote-section {
  display: flex;
  justify-content: center;
  background-color: #316BA1;
}
.quote {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 520px;
  padding: 60px 0;
  position: relative;
  h3 {
    i {
      color: white;
      font-size: 25px;
      padding-top: 25px;
      padding-bottom: 20px;
    }
  }
  i {
    font-size: 55px;
    color: white;
  }
}
.speech-left {
  position: absolute;
  left: -57px;
  top: 58px;
}
.speech-right {
  position: absolute;
  bottom: 43px;
  right: -67px;
}
.blue {
  border-top: 7px solid #2C6BA4;
  margin: 0;
}
@media only screen and (max-width: 1007px) {
  .section-padding {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 979px) {
  
}
@media only screen and (max-width: 883px) {
  
}
@media only screen and (max-width: 583px) {
  
  .what-we-do-paras {
    flex-direction: column;
  }
}


