.image-interval {
  height: calc(100vh - 250px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: left;
}
.wrapper-grey {
  background-color: #F5F5F5;
}
.section-padding {
  padding: 70px 100px;
  h3 {
    padding-bottom: 10px;
    color: #4D4D4D;
    text-align: center;
    font-size: 24px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  border-top: 20px white solid;
  h4 {
    padding: 0 250px 28px 250px;
    letter-spacing: 1px;
    color: #4D4D4D;
    text-align: center;
    font-size: 18px;
  }
  hr {
    border-bottom: solid #37699D 2px;
    width: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  span {
    color: #5385B3;
  }
}
.what-we-do-paras {
  display: flex;
  justify-content: center;
  padding: 0 12px;
  p {
    width: 459px;
    text-align: center;
    font-size: 15px;
  }
}





