.image-interval {
  height: 250px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: left;
}
.wrapper-grey {
  background-color: white;
}
.section-padding {
  padding: 70px 100px;
  h3 {
    padding-bottom: 10px;
    color: #4D4D4D;
    text-align: center;
    font-size: 24px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  h4 {
    padding: 0 148px 28px 148px;
    letter-spacing: 1px;
    color: #4D4D4D;
    text-align: center;
    font-size: 18px;
  }
  hr {
    border-bottom: solid #37699D 2px;
    width: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  span {
    color: #5385B3;
  }
}
.what-we-do-paras {
  display: flex;
  justify-content: center;
  padding: 0 12px;
  p {
    width: 413px;
    text-align: center;
    font-size: 15px;
    padding: 10px;
  }
}





