.about-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h3 {
		padding: 60px 10px;
		width: 730px;
		margin: 0;
	}
	h4 {
   		padding-bottom: 20px;
   		color: #316BA1;
   		font-weight: bold;
   		text-align: center;
   	}
   	hr {
   	 	margin-top: 10px;
		border: 1px solid #316BA1;
		width: 40px;
	}
	p {
		padding: 0 20px 20px 20px;
	}
	span {
		text-align: center;
		padding: 0 50px 20px 50px;
	}
}
.about-intro {
	h4 {
    	text-align: left;
	    color: #4D4D4D;
   		margin: 70px 20px;
	    letter-spacing: 0.2px;
   	}
   	span {
   		color: #1A476F;
   		font-weight: bold;
   	}
}
.about-columns {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-bottom: 20px;
	h3 {
   		text-align: center;
   		color: #4D4D4D;
   	}
}
.about-column {
	width: 500px;
	padding: 0 20px;
	text-align: justify;
}
.brands-wrapper {
	background-color: #1A476F;
    color: white;
   	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   	h2 {
   		margin-top: 60px;
   		letter-spacing: 1px;
   	}
   	h5 {
   		font-weight: lighter;
   	}
   	hr {
   	 	margin-top: 10px;
		margin-bottom: 25px;
		border: 1px solid white;
		width: 40px;
	}
}
.brands-intro {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
   	p {
   		text-align: justify;
		color: white;
		width: 850px;
   		margin-bottom: 37px;
   	}
}
.brands-title {
	color: white;
}
.brands-image img {
	width: 100%;
}
.brands-aside {
	padding-bottom: 40px;
}
.brands-section {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.brands-ind {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	margin: 10px 20px;
	width: 100px;
	img {
		height: 80px;
	}
	h4 {
		margin-top: 10px;
		width: 100px;
		color: white;
	}
	h6 {
		font-weight: lighter;
	}
	p {
		color: #888888;
		margin-top: 0px;
		font-weight: lighter;
		width: 400px;
	}
}
.brands-last {
	padding-bottom: 40px;
}
@media only screen and (max-width: 1207px) {
	.brands-section {
    	flex-wrap: wrap;
    }
    .brands-intro {
    	p {
    		padding-left: 20px;
    		padding-right: 20px;
    	}
    }
}
@media only screen and (max-width: 816px) {
  	.brands-intro {
	    padding-left: 20px;
	    padding-right: 20px;
	  h4 {
	    width: auto;
	    display: inline;
	  }
	}
	.about-columns { 
		flex-direction: column;
		align-items: center;
	}
}
@media only screen and (max-width: 570px) {
	.brands-ind {
    	width: auto;
    	h4 {
    		width: auto;
    	}
    	p {
    		width: auto;
    	}
    }
    .about-column {
    	width: auto;
    }
}











