.why-enganche-banner {
  color: white;
  opacity: 0.9;
  background-size: cover !important; 
  width: 100%;
  background-position: center; 
  padding-bottom: 80px;
  margin-top: 20px;
  p {
    font-weight: lighter;
    padding-bottom: 30px;
  }
  h3 {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}
.why-enganche-section {
  display: flex;
  justify-content: center;
  padding: 10px 100px;
}
.why-enganche-ind {
  text-align: center;
  padding: 0 30px;
  width: 500px;
}

// Desktop only - min 769
@media only screen and (min-width:769px){
  .services-row {
    padding-right: 60px;
  }
}
// Mobile only
@media only screen and (max-width:769px){
  .services-mobile-padding {
    padding: 10px 10px;
  }
  .our-services-banner { 
    padding: 10px 40px 40px 50px; 
    h3 {
      padding-top: 60px;
      padding-bottom: 10px; 
    }
  }
  .our-services-icon {
    padding-top: 20px;
  }
  .icon-padding {
    padding-top: 12px;
  }
}
