.about-wrapper {
	background-color: #F5F5F5;
	h3 {
		padding-top: 60px;
		font-size: 24px;
	}
	h4 {
   		font-size: 22px;
   		color: #316BA1;
   		font-weight: bold;
   	}
   	hr {
   	 	margin-top: 25px;
		margin-bottom: 25px;
		border: 2px solid #316BA1;
		width: 59px;
	}
	p {
		padding: 20px;
	}
}
.about-intro {
	h4 {
    	text-align: center;
	    color: #4D4D4D;
	    font-size: 24px;
   		margin: 70px 20px;
	    letter-spacing: 0.2px;
   	}
   	span {
   		color: #316BA1;
   		font-weight: bold;
   	}
}
.about-columns {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-bottom: 20px;
	h3 {
   		font-size: 24px;
   		text-align: center;
   		color: #4D4D4D;
   	}
}
.about-column {
	width: 600px;
	padding: 0 20px;
	text-align: center;
}
.playbook-wrapper {
    color: white;
   	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   	h3 {
   		font-size: 24px;
   		margin-top: 60px;
   	}
   	hr {
   	 	margin-top: 25px;
		margin-bottom: 25px;
		border: 2px solid #316BA1;
		width: 59px;
	}
}
.playbook-intro {
	display: flex;
    flex-direction: column;
    align-items: center;
	h4 {
    	text-align: center;
	    width: 771px;
	    color: #4D4D4D;
	    font-size: 24px;
   		margin: 70px 0;
	    letter-spacing: 0.2px;
   	}
   	p {
   		text-align: center;
   		font-size: 15px;
   		color: #4D4D4D;
   		width: 941px;
   		margin: 12px 0 37px 0;
   	}
}
.our-playbook-title {
	color: #4D4D4D;
}
.our-playbook-image img {
	width: 100%;
}
.our-playbook-aside {
	padding-bottom: 40px;
}
.our-playbook-section {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.our-playbook-ind {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	margin: 10px 10px;
	width: 400px;
	img {
		height: 80px;
	}
	p {
		color: #888888;
		margin-top: 0px;
		font-weight: lighter;
		font-size: 15px;
		width: 400px;
	}
	h4 {
		margin-top: 20px;
		width: 400px;
		color: #4D4D4D;
		font-size: 18px;
	}
}
.our-playbook-last {
	padding-bottom: 70px;
}
@media only screen and (max-width: 1207px) {
	.our-playbook-section {
    	flex-wrap: wrap;
    }
    .playbook-intro {
    	p {
    		width: auto;
    		padding-left: 20px;
    		padding-right: 20px;
    	}
    }
}
@media only screen and (max-width: 816px) {
  	.playbook-intro {
	  h4 {
	    width: auto;
	    padding-right: 20px;
	    padding-left: 20px;
	    display: inline;
	  }
	}
	.about-columns { 
		flex-direction: column;
		align-items: center;
	}
}
@media only screen and (max-width: 570px) {
	.our-playbook-ind {
    	width: auto;
    	h4 {
    		width: auto;
    	}
    	p {
    		width: auto;
    	}
    }
    .about-column {
    	width: auto;
    }
}











