.playbook-wrapper {
	background-color: #DEEAF3;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-top: 7px;
   	padding-top: 70px;
   	h3 {
   		font-size: 24px;
   	}
}
.our-playbook-title {
	padding-bottom: 40px;
	color: #4D4D4D;
}
.our-playbook-image img {
	width: 100%;
}
.our-playbook-aside {
	padding-bottom: 40px;
}
.our-playbook-section {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-bottom: 10px;
}
.our-playbook-ind {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	padding: 10px 20px;
	width: 550px;
	img {
		width: 100px;
	}
	p {
		color: #888888;
		margin-top: 0px;
		font-weight: lighter;
		font-size: 15px;
	}
	h4 {
		margin-top: 20px;
		width: 500px;
		color: #4D4D4D;
		font-size: 18px;
	}
}
.our-playbook-last {
	padding-bottom: 70px;
}
