.about {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h3 {
		padding: 60px 10px;
		width: 730px;
		margin: 0;
	}
	h4 {
   		padding-bottom: 20px;
   		color: #316BA1;
   		font-weight: bold;
   		text-align: center;
   	}
   	hr {
   	 	margin-top: 10px;
		border: 1px solid #316BA1;
		width: 40px;
	}
	p {
		padding: 30px 20px 20px 20px;
		width: 579px;
	}
	span {
		text-align: center;
		padding: 0 50px 20px 50px;
	}
}
.brands-wrapper {
	background-color: #1A476F;
    color: white;
   	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   	h2 {
   		margin-top: 60px;
   		letter-spacing: 1px;
   	}
   	h5 {
   		font-weight: lighter;
   		text-align: center;
   	}
   	hr {
   	 	margin-top: 10px;
		margin-bottom: 25px;
		border: 1px solid white;
		width: 40px;
	}
}
.brands-intro {
	display: flex;
    flex-direction: column;
    align-items: center;
   	p {
   		text-align: justify;
		color: white;
		width: 850px;
   		margin-bottom: 37px;
   	}
}
.brands-title {
	color: white;
}
.brands-image img {
	width: 100%;
}
.brands-aside {
	padding-bottom: 40px;
}
.brands-section {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 7px;
}
.brands-ind {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	margin: 10px 25px;
	width: auto;
	img {
		height: 80px;
	}
	h4 {
		margin-top: 10px;
		width: 100px;
		color: white;
	}
	h6 {
		font-weight: lighter;
		font-size: 15px !important;
		padding-top: 8px;
		line-height: 20px;
	}
	p {
		color: #888888;
		margin-top: 0px;
		font-weight: lighter;
		width: 400px;
	}
}
.brands-last {
	padding-bottom: 40px;
}
@media only screen and (max-width: 1005px) {
  	.brands-intro {
	  h4 {
	    width: auto;
	    display: inline;
	    text-align: left;
	  }
	  p {
	  	width: auto;
	  	text-align: left;
	  }
	}
	.about-wrapper h3 {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media only screen and (max-width: 932px) {
	.about-columns {
		flex-direction: column;
		align-items: center;
	}

  .brands-section {
    width: 90vw;
    overflow-x: scroll;
    display: -webkit-box;
    padding: 0 10px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .brands-ind {
    width: 100px;
  }

  .our-story-section {
    align-items: center;
  }
}
@media only screen and (max-width: 682px) {
	.about {
		p {
			width: auto;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

}











