.why-enganche-banner {
  color: white;
  opacity: 0.9;
  background-size: cover !important; 
  width: 100%;
  background-position: center; 
  padding-bottom: 80px;
  h3 {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 24px;
    margin-top: 7px;
  }
  h4 {
    font-size: 17px;  
    // padding-bottom: 20px;
  }
  p {
    font-weight: lighter;
    //padding-bottom: 30px;
    font-size: 14px;
  }
}
.why-enganche {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.why-intro {
  width: 500px;
  padding-bottom: 15px;
}
.why-enganche-section {
  display: flex;
  padding: 10px 100px;
}
.why-enganche-ind {
  text-align: center;
  padding: 0 30px;
  width: 500px;
}
@media only screen and (max-width: 1011px) {
  .why-enganche-section  {
    padding: 10px 40px;
  }
}
@media only screen and (max-width: 847px) {
  .why-enganche-section  {
    flex-wrap: wrap;
  }
  .why-enganche-section  {
    padding: 0px 10px;
  }
}
