.why-enganche-banner {
  color: white;
  opacity: 0.9;
  background-size: cover !important; 
  width: 100%;
  background-position: center; 
  padding-bottom: 40px;
  h3 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 24px;
    margin-top: 7px;
  }
  h4 {
    font-size: 17px;  
    // padding-bottom: 20px;
  }
  p {
    font-weight: lighter;
    //padding-bottom: 30px;
    font-size: 14px;
  }
}
.why-enganche {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.why-intro {
  width: 500px;
  padding-bottom: 15px;
}
.why-enganche-section {
  display: flex;
  padding: 10px 0;
}
.why-enganche-ind {
  text-align: center;
  padding: 0 30px;
  width: 500px;
}
.orange {
  border-top: 7px solid #FE4816;
  margin: 0;
}
.our-story-section {
  display: flex;
  flex-direction: column;
}
.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  p {
    text-align: center;
    font-size: 15px;
  }
  hr {
    margin-top: 0px;
    border: 2px solid #316BA1;
    width: 59px;
  }
}
@media only screen and (max-width: 1086px) {
  .why-enganche-section  {
    padding: 10px 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 847px) {
  .why-enganche-section  {
    flex-wrap: wrap;
  }
  .why-enganche-section  {
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 716px) {
  .why-intro {
    width: auto;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .why-enganche-story {
    padding-left: 20px;
    padding-right: 20px;
  }
  .why-enganche-ind {
    text-align: center;
    padding: 0 30px;
    width: auto;
}
}
