.wrapper-partners {
	height: 300px;
}
.logos {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 30px;
	flex-wrap: wrap;
}
.logo {
	height: 90px;
	margin: 15px 20px;
	-webkit-transition: all .5s ease-in-out;
}
.logo:hover {
	-webkit-transform: scale(1.05);
}
.logo-centurion {
	height: 40px;
}
.logo-amex {
	height: 110px;
	margin: 15px 0;
	-webkit-transition: all .5s ease-in-out;
}
.partners-section {
	position: relative;
	padding: 0 100px 50px;
}
.part-arrow-left {
	position: absolute;
	left: 60px;
	top: 50%;
}
.part-arrow-right {
	position: absolute;
	right: 60px;
	top: 50%;	
}

// tablet only
@media only screen and (max-width:1100px) {
	.logo {
		height: 40px;
	}
	.logos {
		margin: 0 40px;
	}
	.partners-section {
		position: relative;
		padding-bottom: 20px;
	}
	.wrapper-partners {
		height: auto;
	}
	.logo-centurion {
		width: 130px;
	}
}
// mobile only
@media only screen and (max-width:769px) {
	.part-arrow-left {
		position: absolute;
		left: 30px;
		top: 50%;
	}
	.part-arrow-right {
		position: absolute;
		right: 30px;
		top: 50%;	
	}
	.logo-amex {
	height: 110px;
	margin: 15px 0;
	-webkit-transition: all .5s ease-in-out;
	}
}