.why-enganche-banner {
  color: white;
  opacity: 0.9;
  background-size: cover !important; 
  width: 100%;
  background-position: center; 
  padding: 40px 0px;
  h2 {
    margin-top: 60px;
    letter-spacing: 1px;
  }
  h6 {
    width: 500px;
    text-align: center;
  }
  p {
    font-weight: lighter;
  }
  hr {
    margin-top: 10px;
    border: 1px solid white;
    width: 40px;
    margin-left: 0.5vw;
  }
}
.why-enganche {
  justify-content: left;
  align-items: left;
  align-content: left;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.why-intro {
  width: 570px;
  padding-bottom: 15px;
}
.why-enganche-section {
  display: flex;
  padding: 0px 0;
}
.why-enganche-ind {
  text-align: center;
  padding: 0 30px;
  width: 500px;
}
.orange {
  border-top: 7px solid #FE4816;
  margin: 0;
}
.our-story-section {
  display: flex;
  flex-direction: column;
}
.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  h2 {
    margin-top: 60px;
    letter-spacing: 1px;
    color: #1A476F;
  }
   h5 {
    font-weight: lighter;
    color: #1A476F;
  }
  p {
    text-align: justify;
    width: 850px;
    margin-bottom: 37px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 25px;
    border: 1px solid #1C486E;
    width: 40px;
  }
}
@media only screen and (max-width: 1086px) {
  .why-enganche-section  {
    padding: 10px 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 1005px) {
  .why-intro {
    text-align: justify;
    width: 80vw;
    margin-bottom: 37px;
  }
  .why-enganche-banner p {
    width: auto;

  }
  .our-story p {
    text-align: left;
    width: auto;
  }
  .why-enganche  {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 716px) {
  .why-enganche-story {
    padding-left: 20px;
    padding-right: 20px;
  }
  .why-enganche-ind {
    text-align: center;
    padding: 0 30px;
    width: auto;
}
}
