.banner {
  background-image: linear-gradient(-225deg, rgba(0,10,50,0.1) 50%, rgba(0,36,61,0.6) 80%), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1509560257/T-SHIRT_3_crtfkd.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  // margin-top: 100px;
}
.banner-content {
  margin-top: 50px;
  h2 {
    font-size: 32px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    width: 570px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);  
    margin-top: 35px;
    font-size: 18px;
  }
}