// .banner {
//   // background-image: linear-gradient(
//   //     rgba(0, 0, 0, 0.50),
//   //     rgba(0, 0, 0, 0.70)), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1509964070/ATP_mq8vlg.jpg');
//   color: white;
//   text-align: center;
//   height: 100vh;
//   width: 100%;
//   background-size: cover !important;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   // margin-top: 100px;
// }
.carousel-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-size: cover !important;
}
.banner-content {
  position: absolute;
  top: 30%;
  h2 {
    font-size: 32px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    width: 570px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);  
    margin-top: 35px;
    font-size: 18px;
  }
}
.arrow {
    // width: 250px;
    // padding-right: 123px;
    position: absolute;
    bottom: 23px;
    width: 84px;
}
.arrow:hover {
  -webkit-transform: scale(1);
  cursor: pointer;
}
.arrow:active {
  outline: none;
  border: none;
}
.arrow:focus {
  outline: 0;
}
.carousel-inner .item { 
  img {
    height: calc(100vh - 100px);
    width: 100vw;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 991px){ 
  .carousel-inner .item { 
    img {
      margin-top: 70px;
      height: calc(100vh - 70px);
    }
  }
}
@media only screen and (max-width: 600px){ 
  .banner { 
    background-position: center;
  }
}



