// .banner {
//   // background-image: linear-gradient(
//   //     rgba(0, 0, 0, 0.50),
//   //     rgba(0, 0, 0, 0.70)), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1509964070/ATP_mq8vlg.jpg');
//   color: white;
//   text-align: center;
//   height: 100vh;
//   width: 100%;
//   background-size: cover !important;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   // margin-top: 100px;
// }
.carousel-banner {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 15px;
}
.carousel-inner .item { 
  img {
    height: 100vh;
    width: 100vw;
  }
}
.carousel-inner {
  overflow: visible;
}
.banner-content {
  position: absolute;
  bottom: 36vh;
  left: 40px;
  right: 0;
  h1 {
    color: white;
    text-align: left;
    font-weight: lighter;
    margin-top: 85px;
    padding-right: 20px;
    padding-left: 20px;
  }
  span {
    color: white;
    font-weight: bold;
    font-size: 60px;
  }
  strong {
    color: white;
    font-weight: bold;
    font-size: 110px;
    line-height: 103px;
  }
}
.arrow {
  position: absolute;
  bottom: 23px;
  width: 84px;
}
.arrow:hover {
  cursor: pointer;
}
.arrow:active {
  outline: none;
  border: none;
}
.arrow:focus {
  outline: 0;
}
.homepage-btns {
  position: absolute;
  bottom: 22vh;
  left: 55px;
  display: flex;
  justify-content: center;
}
.btn {
  border-radius: 5px;
  width: auto;
  padding: 11px 24px;
  margin: 0 8px;
}
.btn-primary {
  background-color: #1A476F;
  width: 207px;
  border-color: #1A476F;
  letter-spacing: 0.5px;
}
.btn-primary:hover {
  background-color: #1A476F;
  opacity: 0.95;
  border-color: #1A476F;
}
.btn-default {
  background-color: transparent;
  border: 2px white solid;
  color: white;
  width: 228px;
  letter-spacing: 0.5px;
}
.btn-default:hover {
  color: #1A476F;
  border-color: white;
  background-color: white;
}

@media only screen and (max-width: 1005px){ 
  // .homepage-btns {
  //   flex-direction: column;
  //   align-items: center;
  // }
  // .btn-primary {
  //   margin-bottom: 10px;
  // }
  .banner-content {
    position: absolute;
    bottom: 34vh;
    left: 5px;
    right: 0;
    h1 {
      padding-left: 0;
      font-size: 40px !important;
    }
    span {
      font-size: 40px !important;
    }
  }
}
@media only screen and (max-width: 991px){ 
  .carousel-inner {
    h1 {
      font-size: 50px !important;
      font-weight: bold;
    }
    span { 
      font-size: 50px !important;
    }
  }
}
@media only screen and (max-width: 657px){ 
  .banner-content {
    bottom: 50%;
  }
  .carousel-inner .item { 
  img {
    height: auto;
    width: 100vw;
  }
}
}



