/* Main class */
.navbar-enganche {
  padding: 0px 60px;
  background-color: white;
  height: 100px;
  box-shadow: 1px 1px 1px #D9D9D9;
  display: flex;
  justify-content: center;
}
#navbar-background {
  background-color: black;
}

/* Optional class to fix the navbar on top */
.navbar-enganche-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1001;
  width: 100vw;
}

/* Navbar logo */
.navbar-enganche-brand img {
    width: 185px;
    margin: 0 60px;
}

/* Navbar main section (with form, links, button) */
.navbar-enganche-main {
  display: flex;
  align-items: center;
}
.navbar-enganche-link {
  color: #4D4E4C;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: bold;
  letter-spacing: 1.1px;
  line-height: 0.5px;
  margin: 0 15px;
  &.active {
    text-decoration: none;
    background-color: #35689F;
    color: white;
  }
}
.navbar-enganche-link:hover {
  background-color: #35689F;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin: 0 15px;
}



/* Navbar dropdown menu */
.navbar-enganche-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-enganche-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-enganche-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-enganche-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.dropdown-toggle-style {
  position: absolute;
  top: 23px;
  left: 50px;
}
.navbar-enganche-brand-mobile img {
  width: 130px;
  padding-top: 11px;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    color: #4D4E4C;
}
.open > .dropdown-menu {
  padding: 33px;
  margin-top: 22px;
}
@media only screen and (max-width: 1137px){
  .navbar-enganche-link {
    margin: 0;
  }
  .navbar-enganche-brand img {
      width: 185px;
      margin: 0 20px;
  }
}
@media only screen and (max-width: 991px){
  .navbar-enganche {
    height: 70px;
  }
}


// On scroll only
@media(min-width: 980px){
  .smooth-scroll {
    top: -100px;
    transition: top 2s ease;
  }
  .navbar-enganche {
    transition: top 2s ease;
  }
}



